<form (ngSubmit)="onSubmit()">
    <div class="p-8">
        <div class="bg-white flex items-center rounded-full shadow-xl">
            <input class="rounded-l-full w-full py-2 px-6 text-gray-700 text-2xl leading-tight focus:outline-none"
                id="searchCriteria" name="searchCriteria" type="text" [(ngModel)]="searchCriteria"
                placeholder="Abone Ara">

            <div class="p-4">
                <button [disabled]="isDisabled"
                    class="bg-blue-400 text-white rounded-full p-2 hover:bg-blue-400 focus:outline-none w-12 h-12 flex items-center justify-center">
                    <fa-icon [icon]="faSearch"></fa-icon>
                </button>
            </div>
        </div>
    </div>
</form>
<div *ngIf="errorMessage.length > 0" class="alert">
    <div class="flex-1 justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-6 h-6 mx-2 stroke-current">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636">
            </path>
        </svg>
        <label>
            {{errorMessage}}
        </label>
    </div>
</div>