<div class="grid md:grid-cols-2 gap-2 py-8 xl:mx-72">
    <div *ngFor="let s of subscriptions" class="card shadow-2xl my-4 mx-4 lg:card-side bg-primary text-primary-content">
        <div class="card-body">
            <p class="font-bold text-4xl">{{s.brand}} - {{s.fullname}}</p>
            <p class="text-blue-200">Adres: {{s.locationName + " " + s.subCityName + " " + s.cityName}}</p>
            <p class="text-blue-200">Distribütor: {{s.distributorNumber}}</p>
            <p class="text-blue-200">Telefon: {{s.phoneNumber}}</p>
            <div class="justify-end card-actions">
                <button *ngIf="hasNoOrder(s.subscriptionId)" class="btn btn-primary"
                    (click)="onGetSubscriptionOrders(s)">
                    Siparişler
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        class="inline-block w-6 h-6 ml-2 stroke-current">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                    </svg>
                </button>
            </div>
            <div *ngIf="!hasNoOrder(s.subscriptionId)" class="alert mt-4">
                <div class="flex-1 text-red-500">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        class="w-6 h-6 mx-2 stroke-current">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636">
                        </path>
                    </svg>
                    <label class="text-red-500">
                        {{errorMessage}}
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>